/Homework/Assignment 1/Gaddis_5thEd_Chap2_Prob13_CBSalePrice/dist/
/Homework/Assignment 1/Gaddis_5thEd_Chap2_Prob13_CBSalePrice/build/
/Homework/HelloWorld/build/
/Homework/HelloWorld/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob14_PersonalInfo/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob14_PersonalInfo/build/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob5_Average/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob5_Average/build/
/Homework/Assignment 1/Savitch_9thEd_Chap1_Prob6_IntroduceErrors/dist/
/Homework/Assignment 1/Savitch_9thEd_Chap1_Prob6_IntroduceErrors/build/
/Homework/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4_FreeFall/build/
/Homework/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4_FreeFall/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob12_LandCalc/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob12_LandCalc/build/