/Homework/Assignment 1/Gaddis_5thEd_Chap2_Prob13_CBSalePrice/dist/
/Homework/Assignment 1/Gaddis_5thEd_Chap2_Prob13_CBSalePrice/build/
/Homework/HelloWorld/build/
/Homework/HelloWorld/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob14_PersonalInfo/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob14_PersonalInfo/build/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob5_Average/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob5_Average/build/
/Homework/Assignment 1/Savitch_9thEd_Chap1_Prob6_IntroduceErrors/dist/
/Homework/Assignment 1/Savitch_9thEd_Chap1_Prob6_IntroduceErrors/build/
/Homework/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4_FreeFall/build/
/Homework/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4_FreeFall/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob12_LandCalc/dist/
/Homework/Assignment 1/Gaddis_8thEd_Chap2_Prob12_LandCalc/build/
/Lab/TruthTable/dist/
/Lab/TruthTable/build/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob1_MilesPerGallon/build/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob1_MilesPerGallon/dist/
/Homework/Assignment_2/Savitch_9thEd_Chap2_Prob9_Sum_10/build/
/Homework/Assignment_2/Savitch_9thEd_Chap2_Prob9_Sum_10/dist/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob3_TestAverage/dist/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob3_TestAverage/build/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob19_MonthlyPayment/build/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob19_MonthlyPayment/dist/
/Lab/Grade_if_else/build/
/Lab/Grade_if_else/dist/
/Lab/Grade_ternary/build/
/Lab/Grade_ternary/dist/
/Lab/Grade_switch/build/
/Lab/Grade_switch/dist/
/Lab/Grade_switch_independent_ifs/dist/
/Lab/Grade_switch_independent_ifs/build/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob12_TempConv/dist/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob12_TempConv/build/
/Homework/Assignment_2/Savitch_9thEd_Chap2_Prob13_CandyBar_v2/build/
/Homework/Assignment_2/Savitch_9thEd_Chap2_Prob13_CandyBar_v2/dist/
/Homework/Assignment_2/Savitch_9thEd_Chap2_Prob13_CandyBar_v3/dist/
/Homework/Assignment_2/Savitch_9thEd_Chap2_Prob13_CandyBar_v3/build/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob6_Cookie/dist/
/Homework/Assignment_2/Gaddis_8thEd_Chap3_Prob6_Cookie/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob12_TempConv/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob12_TempConv/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob19_MonthlyPayment/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob19_MonthlyPayment/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob1_MilesPerGallon/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob1_MilesPerGallon/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob3_TestAverage/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob3_TestAverage/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob6_Cookie/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob6_Cookie/dist/
/Homework/Assignment_2/Chap 3/Savitch_9thEd_Chap2_Prob13_CandyBar/build/
/Homework/Assignment_2/Chap 3/Savitch_9thEd_Chap2_Prob13_CandyBar/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob17_MathTutor/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob17_MathTutor/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob_MFPercentage/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob_MFPercentage/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob5_MFPercentage/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob5_MFPercentage/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob15_PropertyTax/dist/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob15_PropertyTax/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob20_PizzaPi/build/
/Homework/Assignment_2/Chap 3/Gaddis_8thEd_Chap3_Prob20_PizzaPi/dist/
/Homework/Assignment_2/Chap 4/Savitch_9thEd_Chap2_Prob2_SquareRoot/build/
/Homework/Assignment_2/Chap 4/Savitch_9thEd_Chap2_Prob2_SquareRoot/dist/
/Homework/Assignment 3/Savitch_9thEd_Chap3_Prob6_Fibonacci_Crud/build/
/Homework/Assignment 3/Savitch_9thEd_Chap3_Prob6_Fibonacci_Crud/dist/
/Homework/Assignment 3/Savitch_9thEd_Chap3_Prob3_RomanCoversion/build/
/Homework/Assignment 3/Savitch_9thEd_Chap3_Prob3_RomanCoversion/dist/
/Homework/Assignment 3/Savitch_9thEd_Chap3_Prob4_BlackJackHandValue/dist/
/Homework/Assignment 3/Savitch_9thEd_Chap3_Prob4_BlackJackHandValue/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob8_ColorMixer/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob8_ColorMixer/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob22_FreezingBoilingPoints/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob22_FreezingBoilingPoints/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob23_GeometryCalculator/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob23_GeometryCalculator/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob1_MinMax/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob1_MinMax/dist/
/Homework/Assignment 3/Menu/build/
/Homework/Assignment 3/Menu/dist/
/Homework/Assignment 3/Gaddis_7thEd_Chap4_Prob22_PhoneCharge/dist/
/Homework/Assignment 3/Gaddis_7thEd_Chap4_Prob22_PhoneCharge/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap5_Prob7_ShowMeTheMoney/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap5_Prob7_ShowMeTheMoney/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob9_Calories/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob9_Calories/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob18_SaveAndRuleOf72/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob18_SaveAndRuleOf72/build/
/Homework/Gaddis_8thEd_Chap3_Prob17_MathTutor/dist/
/Homework/Gaddis_8thEd_Chap3_Prob17_MathTutor/build/
/Class/Retirement_V2_Refinement/dist/
/Class/Retirement_V2_Refinement/build/
/Class/Savings_DowhileLoop/dist/
/Class/Savings_DowhileLoop/build/
/Class/Savings_ForLoop/dist/
/Class/Savings_ForLoop/build/
/Class/Savings_WhileLoop/build/
/Class/Savings_WhileLoop/dist/
/Class/Retirement/build/
/Class/Retirement/dist/
/Homework/Assignment 4/Savitch_9thEd_Chap4_Prob4_99BottlesOfBeer/dist/
/Homework/Assignment 4/Savitch_9thEd_Chap4_Prob4_99BottlesOfBeer/build/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob8_PI_InfiniteSeries/build/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob8_PI_InfiniteSeries/dist/
/Homework/Assignment 4/RandomPi/build/
/Homework/Assignment 4/RandomPi/dist/
/Lab/RandomPi/build/
/Lab/RandomPi/dist/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob8_PI_InfiniteSeries_1/dist/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob8_PI_InfiniteSeries_1/build/
/Homework/Assignment 4/Savitch_9thEd_Chap4_Prob4_99BottlesOfBeer_1/dist/
/Homework/Assignment 4/Savitch_9thEd_Chap4_Prob4_99BottlesOfBeer_1/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob3_OceanLvls/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob3_OceanLvls/build/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob9_MontyHall/build/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob9_MontyHall/dist/
/Lab/Factorial/build/
/Lab/Factorial/dist/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob7_etox_hardway/dist/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob7_etox_hardway/build/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob7_etox/build/
/Homework/Assignment 4/Savitch_9thEd_Chap3_Prob7_etox/dist/
/Lab/Crap_V1/build/
/Lab/Crap_V1/dist/
/Lab/Crap_V2/dist/
/Lab/Crap_V2/build/
/Lab/Crap_V3/dist/
/Lab/Crap_V3/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob2_ASCII/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob2_ASCII/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob6_DistanceTraveled/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob6_DistanceTraveled/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob12_CelciusToFahrenheit/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob12_CelciusToFahrenheit/dist/
/Homework/Assignment 4/MenuForAssignment4/build/
/Homework/Assignment 4/MenuForAssignment4/dist/
/PQ/build/
/PQ/dist/
/Project/Project1/build/
/Project/Project1/dist/
/Class/PQ2/build/
/Class/PQ2/dist/
/Class/PQ3/build/
/Class/PQ3/dist/
/Lab/Gaddis_8thEd_Chap6_/dist/
/Lab/Gaddis_8thEd_Chap6_/build/
/Project/Project1_1/build/
/Project/Project1_1/dist/
/Lab/Function_Implementation_V3/build/
/Lab/Function_Implementation_V3/dist/